sherlock_schema.rnc

start = passage
passage = element passage {number, title, story}
number = attribute number {xsd:int}
title = element title {text}
story = element story {(chapter* | p+)*}
chapter = element chapter {number,text}
p = element p {(char* | quote* | action*| text)*}
char = element char {gender,text}
gender = attribute gender {"male"|"female"}
quote = element quote {speaker, text}
speaker = attribute speaker {text}
action = element action {char, text}