sherlock_schema.rnc

start = passage
passage = element passage {chapter, number, title, story}
chapter = element chapter {number | text}
number = attribute number {text}
title = element title {text}
story = element story {p+, text}
p = element p {char+ | quote+ | action+ | char | speaker | text}
char = element char {gender | text}
gender = attribute gender {text}
quote = element quote {speaker, text}
speaker = attribute speaker {text}
action = element action {char, text}